* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

body, html {
    height: 100%;
    width: 100%;
}

nav {
    margin: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div a {
    margin: 0px 15px;
}

#collection-sect {
    margin: 25px 50px;
}

#collection-sect h1 {
    font-size: 48px;
}

#booklist {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.book {
    margin: 25px 25px 25px 0px;
}

.book-cover img {
    aspect-ratio: 5 / 8;
    max-height: 360px;
    border-radius: 15px;
}