* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

body, html {
    height: 100%;
    width: 100%;
}

nav {
    margin: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div a {
    margin: 0px 15px;
}

#collection-sect {
    margin: 25px 50px;
}

#collection-sect h1 {
    font-size: 48px;
}

#booklist {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.book {
    margin: 25px 25px 25px 0px;
    width: 225px;
}

.book h2{
    word-wrap: break-word;
}

.book-cover img {
    aspect-ratio: 5 / 8;
    height: 360px;
    width: 225px;
    border-radius: 15px;
}
.digital-tag{
    background-color: aqua;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    margin-top: 15px;
}